
$COLOR_BG: #3B536E;
$COLOR_CARD: #213750;
.container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* header height = 40px (padding) + 75px (logo) + 20px (margin) + 40px (padding-global)*/
.header {
    width: 100%;
    padding: 20px;
    font-size: 1.3rem;
    font-weight: bold;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: 20px;

    & > .title {
        display: flex;
        gap: 10px;

        align-items: flex-end;

        font-size: 6vh;

        & .logo {
            height: 75px;
            width: 75px;
    
            background: orange;
        }
    }

    & > .datetime {
        display: flex;
        gap: 30px;
    }
}

.body {
    width: 100%;
    height: calc(100vh - 175px);

    display: flex;

    & > .count {
        flex: 0 0 calc(50%);
    }
    & > .functions {
        flex: 0 0 calc(20%);
    }
    & > .history {
        flex: 0 0 calc(30%);
    }

    & > .count, .history {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & > .queue {
            flex: 0 0 80%;
        }
        & > .summary {
            flex: 0 0 15%;

            display: flex;
        }

        & > .list {
            flex: 0 0 100%;
        }
    }

    & .queue {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        & > .prev-next {
            flex: 0 0 45%;
            width: 100%;
        }
        & > .current {
            flex: 0 0 45%;
            width: 100%;
        }

        & > .prev-next {
            display: flex;
            justify-content: space-around;
            align-items: center;

            & > .seperator {
                width: 5px;
                height: 90%;
    
                background: #375772;
            }

            & > .num {
                & > .label {
                    font-size: 3vh;
                    text-transform: uppercase;
                }
                & > .value {
                    font-size: 12vh;
                    font-weight: bold;
                }
            }
        }

        & > .current {
            display: flex;
            justify-content: center;
            align-items: center;

            & > .num {
                & > .label {
                    font-size: 4vh;
                    text-transform: uppercase;
                }
                & > .value {
                    font-size: 16vh;
                    font-weight: bold;
                }
            }
        }

        & > .seperator {
            height: 5px;
            width: 100%;

            background: #375772;
        }
    }

    & > .functions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        & > .btn-fx {
            flex: 0 0 15%;

            background: $COLOR_CARD;
            
            border: 1px solid #3fc2e3;
            border-radius: 10px;

            width: 70%;
            
            font-size: 2rem;
            text-transform: uppercase;

            display: flex;
            align-items: center;

            & > .icon {
                flex: 0 0 30%;

                display: flex;
                justify-content: center;
            }
            & > .label {
                flex: 0 0 70%;
            }
        }
    }
}

.card {
    border-radius: 10px;

    background: $COLOR_CARD;
}