@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$COLOR_BG: #213750;
$COLOR_CARD: #3B536E;;
:root {
    background-color: #213750 !important;
}
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

    color: white;
}

body {
    margin: 0;
}

.card {
    background: $COLOR_CARD;
    padding: 20px;

    display: flex;
    flex-wrap: nowrap;

    width: 100%;
    height: 628px;

    border-radius: 8px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}