@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$COLOR_BG: #3B536E;
$COLOR_CARD: #213750;

:root {
    background-color: #3B536E !important;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

    color: white;
}

body {
    margin: 0;
    height: 100vh;
}

.container {
    padding: 20px;
    
}

.card {
    background: $COLOR_CARD;
    padding: 20px;
    
    height: fit-content;

    border-radius: 8px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}